<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>update_button_green_circle_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,0},{106,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>update_button_green_circle_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,106},{106,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>update_button_green_circle_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,327},{106,106}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>update_button_orange_big_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{194,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,107}</string>
			</dict>
			<key>update_button_orange_big_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{194,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,107}</string>
			</dict>
			<key>update_button_orange_big_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{194,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,107}</string>
			</dict>
			<key>update_kaisiyouxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,914},{146,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,45}</string>
			</dict>
			<key>update_xiufu.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,954},{64,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,39}</string>
			</dict>
			<key>update_bg_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{174,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,216}</string>
			</dict>
			<key>update_button_green_1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,433},{134,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,79}</string>
			</dict>
			<key>update_button_green_1_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,567},{134,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,79}</string>
			</dict>
			<key>update_button_green_1_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,701},{134,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,79}</string>
			</dict>
			<key>update_button_orange_1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,780},{134,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,79}</string>
			</dict>
			<key>update_button_orange_1_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,914},{134,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,79}</string>
			</dict>
			<key>update_button_orange_1_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,780},{134,79}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,79}</string>
			</dict>
			<key>update_experiencebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,954},{78,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,34}</string>
			</dict>
			<key>update_experienceline2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,993},{160,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,19}</string>
			</dict>
			<key>update_queding.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,988},{68,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,36}</string>
			</dict>
			<key>update_quxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,988},{66,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,36}</string>
			</dict>
			<key>update_goback_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{111,111}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>update_goback_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{111,111}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>update_goback_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,216},{111,111}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>update.png</string>
			<key>realTextureFileName</key>
			<string>update.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>